.panel-sp {
    margin-bottom: 0px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-groove {
    padding-top: 20px;
}

@media (max-width: 767px) {
    .image {
        width: 100%;
    }
    .title{
        display: none;
    }
}

@media (min-width: 768px) {
    .image {
        width: 66.7%;
    }
}